{{> header}}
<div class="container">
	{{#if message}}
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="alert alert-danger">{{this}}</div>
		</div>
	</div>
	{{/if}}
	<div class="row">
		{{#each results}}
		<div class="col-md-4 first-page">
			<a href="/movie/{{this._id}}"><img src="{{this.img}}" alt="" class="img-responsive"></a>
			<a href="/movie/{{this._id}}"><h3>{{this.title}}</h3></a>
			<p class="text-muted">Cast: </p><p>{{this.cast}}</p>
		</div>
		{{/each}}
	</div>
</div>