{{> header}}

<div class="container">
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<a href="/movie/{{results._id}}"><img src="{{results.img}}" alt="" class="img-responsive"></a>
			<a href="/movie/{{results._id}}"><h3>{{results.title}}</h3></a>
			<p class="text-muted">Cast: </p><p>{{results.cast}}</p>
			<div class="rate-widget">
				<p class="text-muted">Rating: </p>
				<ul>
					<li class="star_1 ratings_stars"><i class="fa fa-star-o" aria-hidden="true"></i></li>
					<li class="star_2 ratings_stars"><i class="fa fa-star-o" aria-hidden="true"></i></li>
					<li class="star_3 ratings_stars"><i class="fa fa-star-o" aria-hidden="true"></i></li>
					<li class="star_4 ratings_stars"><i class="fa fa-star-o" aria-hidden="true"></i></li>
					<li class="star_5 ratings_stars"><i class="fa fa-star-o" aria-hidden="true"></i></li>
				</ul>
				<p>{{avgRating}}</p>
			</div>
		</div>
		<div class="col-md-5">
			<p>{{results.description}}</p>
			<br>
			{{#each reviews}}
			<h4>What other people say about this:</h4>
			<p><i>{{this.review}}</i> - Posted by <strong>{{this.userName}}</strong></p>
			<hr>
			{{/each}}
		</div>
	</div>
	{{#if user}}
	<div class="row">
		<div class="col-md-3 col-md-offset-1">
			<h3>Write a review as {{user.username}}</h3>
			<form method="post" action="/movie/addReview">
	          <input type="hidden" name="_csrf" value="{{csrfToken}}">
	          <input type="hidden" name="movieId" value="{{results._id}}">
	          <div class="form-group">
	            <textarea name="review" id="review" rows="10" placeholder="Review" required class="form-control"></textarea>
	          </div>
	          <button type="submit" class="btn btn-success">Submit review</button>
	        </form>	
		</div>
	</div>
	{{/if}}
</div>